body {
    font-family: Arial, sans-serif;
    background-color: #f0be35;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}


.login-container .button-send {
    width: 100%;
    padding: 12px;
    background-color: #e0a604;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

.login-container .button-reset {
    width: 100%;
    padding: 12px;
    background-color: #dddddd;
    color: #333333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}


.login-container h2 {
    margin-bottom: 1.5rem;
    color: #e3b339;
    font-size: 1.3rem;
}

.login-container form input {
    width: 100%;
    padding: 12px;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}


.login-container button:hover {
    background-color: #171615;
}

.login-container .links {
    margin-top: 1rem;
    font-size: 0.8rem;
}

.login-container .links a {
    color: #007bff;
    text-decoration: none;
}

.login-container .links a:hover {
    text-decoration: underline;
}