:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --table-header-bg: #f2f2f2;
    --link-color: #AF650C;
    --dot-color: #bbb;
    --button-bg: #AF650C;
    --button-text: #ffffff;
    --error-color: red;

}

/* Modo escuro */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1e1e1e;
        --text-color: #e0e0e0;
        --table-header-bg: #2e2e2e;
        --link-color: #ff9900;
        --dot-color: #888;
        --button-bg: #FF8800;
        --button-text: #000000;
        --error-color: #ff6666;

        --focus: #888;
        --background: #2e2e2e;
        --button-base: #FF8800;
        --button-hover: #AF650C;
    }
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    max-width: 1000px;
}

select {
    background-color: var(--table-header-bg);
}

/* Tabela */
.table-responsive {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

th, td {
    padding: 0.5rem;
    text-align: left;
    white-space: nowrap;
    border-bottom: 1px solid #bebebe;
}

/* Permitir quebra em colunas específicas */
th:nth-child(2), td:nth-child(2),
th:nth-child(3), td:nth-child(3),
th:nth-child(4), td:nth-child(4) {
    white-space: normal;
    word-break: break-word;
    max-width: 300px;
}

thead {
    background-color: var(--table-header-bg);
}

@media (max-width: 768px) {
    th, td {
        font-size: 0.85rem;
        padding: 0.4rem;
    }
}

/* Botão */
.button-relatorio {
    width: 25%;
    padding: 12px;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s;
}

.button-relatorio-container {
    text-align: end;
}

/* Utilitários */
.ml-10 {
    margin-left: 10px;
}

.p-0 {
    padding: 0px;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

th > a {
    text-decoration: none;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: var(--dot-color);
    border-radius: 50%;
    display: inline-block;
}

.space-end-icon {
    margin-right: 5px;
}

.remove-margin-top {
    margin-top: 0;
}

.remove-margin-bottom {
    margin-bottom: 0;
}

small {
    color: var(--error-color);
    display: block;
}
