<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Démo{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home-user.css') }}">

</head>
<body>
{% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="flash {{ category }}">{{ message }}</div>
{% endfor %}
<nav>
    <a href="{{ url_for('home.sales') }}">Vendas</a>
    <a href="{{ url_for('home.products') }}">Produtos</a>
    <a href="{{ url_for('home.sale_item') }}">Itens Vendidos</a>
    <a href="{{ url_for('home.users') }}">Usuarios</a>
    <a href="{{ url_for('home.relatorio') }}">Relatorios</a>
    <a href="{{ url_for('home.rotas_index') }}">Rotas</a>
 <a class="link-logout" onclick="logout()">sair</a>
</nav>

{% block main %}
{% endblock %}
<script>
    function logout() {
        const token = sessionStorage.getItem("token"); // ou localStorage

        fetch("/auth/sair", {
            method: "POST",
            headers: {
                "Authorization": "Bearer " + token
            }
        }).then(response => {
            if (response.ok) {
                window.location.href = "/auth/entrar";
            } else {
                alert("Erro ao sair.");
            }
        });
    }
</script>
</body>
</html>