{% extends 'layout_interno.html' %}
{% block title %} {{ super() }} - Site Map{% endblock %}
{% block main %}

    {% if mode == 'add' %}
        <h2>Adicionar uma compra</h2>
        <form method="POST" action="/interno/compras/add">
            <label>Produto <input type="text" name="login" placeholder="Max. 8 caractères"> </label><br>
            <fieldset>
                <legend>Informations sobre a compra</legend>
                <label>Data de Compra <input type="text" id="data" name="data" placeholder="dd-mm-aaaa" pattern="\d{2}-\d{2}-\d{4}" required>
</label>
                <label>Data de validade <input type="date" name="last_name"> </label><br>
                <label>Quantidade <input type="text" name="first_name"></label><br>
                <label>Preço total <input type="text" name="last_name"> </label><br>
                <button type="submit">Adicionar</button>

                {% if error %}
                    <small>Erreur ajout technician.</small>
                {% endif %}
            </fieldset>
        </form>
    {% endif %}
{% endblock %}